target/
.project
.settings/org.maven.ide.eclipse.prefs
build-tools/.project
build-tools/.settings/org.maven.ide.eclipse.prefs
build-tools/teacompiler/.project
build-tools/teacompiler/.settings/org.maven.ide.eclipse.prefs